In [1]:
import pandas as pd
import numpy as np

food_list = ["gaji-gui", "galbi-gui", "galbi-jjim", "gamja-bokkeum", "gamja-twigim", "geon-saewoo-bokkeum", "gejang", "gyeongdan", "gyeran-mari", "gyeranhurai", "godeungeo-gui",   "gorgonzola-pizza", "gochu-jangajji", "ojingeochae-muchim", "gopchang-jeongol", "gunmandu", "gimbap", "kimchi-bokkeumbap", "kimchi-jjigae", "kkakdugi", "naengmyeon", "dakgalbi", "dakjjim", "doenjang-jjigae", "dubu-gimchi", "tteokgalbi", "tteokguk", "tteokbokki", "ramyeon", "maneul-jangajji", "margherita-pizza", "mandu-guk", "modeum-twigim", "miyeokguk", "baechu-kimchi", "bo-ssam", "budae-jjigae", "bulgogi", "bibim-guksu", "bibim-naengmyeon", "bibimbap", "samgyeopsal-gui", "samgyetang", "saeu-bokkeumbap", "saeu-twigim", "saengseonjeon", "soseji-bokkeum", "songpyeon", "sukjunamul", "sundae", "sigumchi-namul", "al-bap", "aehobak-bokkeum", "yangnyeom-chicken", "omeu-raiseu", "udong", "yubuchobap", "yukhoe", "japgokbap", "japchae", "jangeogui", "jangjorim", "dwaejigogi-bokkeum", "jokbal", "gimgaru-jumeokbap", "jjajangmyeon", "jjamppong", "jjokgalbigui", "jjukkumi-bokkeum", "jjinmandu", "cheese-pizza", "curry-rice", "combination-pizza", "kongguksu", "pajeon", "hangwa", "haemuljjim", "haejangguk", "hoe-muchim", "huraideu-chicken", "hunjeori", "huin-juk"]
values = np.array([[1,2,3,4] for i in range(len(food_list))]).T
df = pd.DataFrame(values, index=['spicy','sour','salty','oily'], columns=food_list).T
df

                  spicy  sour  salty  oily
gaji-gui              1     2      3     4
galbi-gui             1     2      3     4
galbi-jjim            1     2      3     4
gamja-bokkeum         1     2      3     4
gamja-twigim          1     2      3     4
...                 ...   ...    ...   ...
haejangguk            1     2      3     4
hoe-muchim            1     2      3     4
huraideu-chicken      1     2      3     4
hunjeori              1     2      3     4
huin-juk              1     2      3     4

[82 rows x 4 columns]

In [2]:
from numpy.linalg import norm
from numpy import dot
def cos_sim(A, B):
  return dot(A, B)/(norm(A)*norm(B))

#코사인 유사도, 1일 수록 가까운 것
print(cos_sim([1,2,3,4], [5,4,3,2]))
cos_sim([1,2,3,4], [1,2,3,5])

0.7453559924999299

0.9939990885479664

In [3]:
#나중에 df는 csv로 불러오기
def recommender_system(df, user_score=list):
    result = []
    for i in range(df.shape[0]):
        result.append(cos_sim(df.iloc[i,:].tolist(), user_score))
    df['cos_sim'] = result
    return df.sort_values('cos_sim', ascending=False).index[:3]

In [4]:
df1 = df.copy()
user_score = [3,2,1,5]
recommender_system(df1, user_score)

Index(['gaji-gui', 'jangjorim', 'japchae'], dtype='object')